@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 min-h-screen overflow-x-hidden;
    font-feature-settings: "rlig" 1, "calt" 1;
    background: radial-gradient(circle at 50% 10%, #1e1b4b 0%, #020617 100%);
  }
}

@theme {
  --animate-float: float 6s ease-in-out infinite;

  --font-serif: "Cinzel", serif;
  --font-hand: "Pinyon Script", cursive;

  --keyframes-float: {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

.font-hand {
  font-family: var(--font-hand);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}